Authenticate via httpauth basic for OPDS routes

This would allow private site to expose the library to legit users,
assuming that the application knows about it. Specification has a MUST
on it.

At a minimum, client and server implementations MUST be capable of being
configured to use HTTP Basic Authentication [RFC2617] in conjunction with a
connection made with TLS 1.0 [RFC2246] or a subsequent standards-track version
of TLS supporting the conventions for using HTTP over TLS described in
[RFC2818].

